@using TechJobsPersistent.ViewModels;
@model AddJobViewModel;

<h1>Add a Job</h1>

<form asp-controller="Home" asp-action="ProcessAddJobForm" method="post">
    <div class="form-group">
        <label>Name</label>
        <input asp-for="Name" class="form-control" />
        <span></span>
    </div>

    <div class="form-group">
        <label>Employer</label>
        <select class="form-control" asp-for="EmployerId" asp-items="Model.Employers"></select>
        <span></span>
    </div>

    <div class="form-group">
        @foreach (var skill in Model.Skills)
        {
            <label>@skill.Name</label>
            <input type="checkbox" name="selectedSkills" value="@skill.Id" />
        }
    </div>

    <input type="submit" value="Add Job" />
</form>

<p><a asp-controller="Employer" asp-action="Add">Add Employer</a></p>
<p><a asp-controller="Skill" asp-action="Add">Add Skill</a></p>

